.DS_Store
.dotnetcli
.metadata
.settings
.vs
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
BuildOutput
dotnet-tools.json
node_modules
obj
packages
profile.arm.json
project.lock.json
PublishProfiles
src/ApplePayJS/*.pfx
src/ApplePayJS/wwwroot/.well-known/apple-developer-merchantid-domain-association*
src/ApplePayJS/wwwroot/**/*.min.css
src/ApplePayJS/wwwroot/**/*.min.js
src/ApplePayJS/wwwroot/ts/*.js
src/ApplePayJS/wwwroot/lib/*
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.DotSettings
*.GhostDoc.xml
*.log
*.map
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
