name: dependency-review

on:
  pull_request:
    branches: [ main, dotnet-vnext ]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Review dependencies
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        with:
          allow-licenses: 'Apache-2.0,BSD-2-Clause,BSD-3-Clause,MIT'
